header {
  text-align: center;
}

body {
  background-color: beige;
  color: #2E0000;
  font-family: Verdana, Arial, Helvetica, sns-serif;
}

.information {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width:700px; max-width:1024px;
  background-color: burlywood;
  box-shadow: 3px 3px 3px #757575;
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

div.q {
  background-color: burlywood;
  box-shadow: 3px 3px 3px #757575;
  padding-bottom: 0.3em;

}
p.q {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
}
.quiz {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  min-width:700px; max-width:1024px;
 }

ul {
    list-style-type: upper-alpha;-alpha;
}
.youranswer {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
}
.spanAns {
  color: red;
  font-style: italic;
}
.submit {
  margin-top: 1em;
    float: right;
    margin-bottom: 1em;
    box-shadow: 3px 3px 3px #757575;
}
